@charset "utf-8";

#wrap {
  margin: 0 auto;
  width: 700px;
}

#wrap>.detail {
  width: 700px;
}

#wrap>.detail>p {
  padding: 50px 0 50px 0;
  align: center;
}

/* #wrap>footer {
  text-align: center;
  padding-bottom: 50px;
} */