@charset "utf-8";

#wrap {
  margin: 0 auto;
  width: 1100px;
}

#wrap>.detail {
  width: 1100px;
}

#wrap>.detail>p {
  padding: 50px 0 50px 0;
}

#wrap>.detail>p>img {
  border: 1px solid rgb(243, 243, 243);
}

#wrap>footer {
  text-align: center;
  padding-bottom: 50px;
}